<p style="color: green"><%= notice %></p>

<%= render @website_visit %>

<div>
  <%= link_to "Edit this website visit", edit_website_visit_path(@website_visit) %> |
  <%= link_to "Back to website visits", website_visits_path %>

  <%= button_to "Destroy this website visit", @website_visit, method: :delete %>
</div>
